<script>
  let lastScrollTop = 0;
  let nav;
  window.onload = function() {
    document.body.classList.remove('preload');
    nav = document.getElementsByClassName('nav')[0];
    window.onscroll = function() {
      let scrollTop= window.pageYOffset || document.documentElement.scrollTop;
      if (scrollTop> lastScrollTop) {
        nav.classList.remove('nav-sticky', 'nav-sticky-transition');
      } else {
        console.log(nav.clientHeight , scrollTop);
        if (nav.clientTop + nav.clientHeight < scrollTop) {
          nav.classList.add('nav-sticky');
          setTimeout(()=>{nav.classList.add('nav-sticky-transition')}, 0);
        }
      }
      if (scrollTop <= 0) {
        nav.classList.remove('nav-sticky', 'nav-sticky-transition');
      }
      lastScrollTop = scrollTop<= 0 ? 0 :scrollTop;
    };
  };
</script>
