// Colors
$default-color: #555;
$default-shade: #353535;
$default-tint: #aaa;
$grey-1: #979797;
$grey-2: #e5e5e5;
$grey-3: #f9f9f9;
$white: #fff;
$blue: #4a9ae1;
$shadow-color: rgba(0, 0, 0, .15);
$code-color: #bf616a;
$identity-color: #ab47bc;

// Fonts
@import url("code-dracula.css");
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Noto+Sans+KR:300,400,700|Noto+Serif+KR:300,400,700|Roboto+Mono|Roboto+Slab:300,400,700|Roboto:300,300i,400,400i,600,600i|Suranna|Song+Myung');

$serif-primary: 'Suranna', 'Song Myung', serif;
$serif-secondary: 'Roboto Slab', 'Noto Sans KR', serif;
$sans-serif: 'Roboto', 'Noto Sans KR', sans-serif;
$monospaced: 'Roboto Mono', monospace;
$cursive: 'Dancing Script', cursive;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
          transition: $args;
}

@mixin transform($args...) {
  -webkit-transform: $args;
     -moz-transform: $args;
          transform: $args;
}

@mixin position($pos) {
  -webkit-position: $pos;
     -moz-position: $pos;
          position: $pos;
}
